.table-content{
    background-color: lightgrey;
}
table{
    tbody{
        td{font-size: 11px;}
    }
}
.load-item{
    margin: 0 auto;
    text-align: center;
    margin-top: 150px;
    .progress-loading{
        text-align: center;
    }
}
