<section>


  <!--<table class="table">
    <thead class="thead-default">
      <tr>
        <th>Status</th>
        <th>Date</th>
        <th>Order Id</th>
        <th>Amount</th>
        <th>Name</th>
        <th>Email</th>
        <th>Telephone</th>
        <th>Address</th>
        <th>Postcode</th>
        <th>City</th>
        <th>Country</th>       
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let order of orders">
        <td>{{order.status}}</td>
        <td>{{order.orDate | date}}</td>
        <th class="btn" style="color: #f48024" (click)="seeItems(order.itemsId)" >{{order.orderId}}</th>
        <td>{{order.amount | currency: 'GBP':true}}</td>
        <td>{{order.customerName}}</td>
        <td>{{order.email}}</td>
        <td>{{order.telephone}}</td>
        <td>{{order.address}}</td>
        <td>{{order.postCode}}</td>
        <td>{{order.city}}</td>
        <td>{{order.country}}</td>
      </tr>

    </tbody>
  </table>-->

  <table class="table">
    <thead class="thead-default">
      <tr>
        <th>Status</th>
        <th>Date</th>
        <th>Order Id</th>
        <th>Amount</th>
        <th>Name</th>
        <th>Email</th>
        <th>Telephone</th>
        <th>Address</th>
        <th>Postcode</th>
        <th>City</th>
        <th>Country</th>       
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let order of railsOrder | async">
        <td>{{order.attributes.status}}</td>
        <td>{{order.attributes.created_at | date}}</td>
        <th class="btn" style="color: #f48024" (click)="seeItems(order.attributes.itemsid)" >{{order.attributes.orderid}}</th>
        <td>{{order.attributes.amount | currency: 'GBP':true}}</td>
        <td>{{order.attributes.name}}</td>
        <td>{{order.attributes.email}}</td>
        <td>{{order.attributes.telephone}}</td>
        <td>{{order.attributes.address}}</td>
        <td>{{order.attributes.postcode}}</td>
        <td>{{order.attributes.city}}</td>
        <td>{{order.attributes.country}}</td>
      </tr>
    </tbody>
  </table>
</section>
