<section class="table-content">
  <table class="table table-striped">
    <thead class="thead-inverse">
      <tr>
        <th>Status</th>
        <th>Date</th>
        <th>Order Id</th>
        <th>Amount</th>
        <th>Name</th>
        <th>Email</th>
        <th>Telephone</th>
        <th>Address</th>
        <th>Postcode</th>
        <th>City</th>
        <th>Country</th>
        <th colspan="1">
          <i *ngIf="spin" style="color:green" (click)="refreshOrder()" class="fa fa-refresh fa-spin fa-1x fa-fw" aria-hidden="true"></i>
          <i *ngIf="!spin" (click)="refreshOrder()" class="fa fa-refresh fa-1x fa-fw" aria-hidden="true"></i>
        </th>      
      </tr>
    </thead>
    <tbody *ngIf="railsOrder">
      <tr *ngFor="let order of railsOrder">
        <td *ngIf="order.attributes.status == 'completed'" style="color:green;">{{order.attributes.status}}</td>
        <td *ngIf="order.attributes.status == 'Pending'" style="color:red;">{{order.attributes.status}}..</td>
        <td>{{order.attributes.created_at | date}}</td>
        <th style="color: lightslategray; cursor:pointer" (click)="seeItems(order.attributes.itemsid)" >{{order.attributes.orderid}}</th>
        <td>{{order.attributes.amount | currency: 'GBP':true}}</td>
        <td>{{order.attributes.name}}</td>
        <td>{{order.attributes.email}}</td>
        <td>{{order.attributes.telephone}}</td>
        <td>{{order.attributes.address}}</td>
        <td>{{order.attributes.postcode}}</td>
        <td>{{order.attributes.city}}</td>
        <td>{{order.attributes.country}}</td>
        <td><i style="cursor:pointer" (click)="removeOrder(order.id)" class="fa fa-times remove-cart-i" aria-hidden="true"></i></td>
      </tr>
    </tbody>
  </table>
</section>

  <div *ngIf="railsOrder.length < 1" class="progress container load-item">
      <div class="progress-loading" >
          <strong>
              <h3><i class="fa fa-spinner fa-spin fa-3x fa-fw"></i></h3>
          </strong>
      </div>
  </div>
    


