<section>


  <table class="table">
    <thead class="thead-default">
      <tr>
        <th>Order Date</th>
        <th>Order Id</th>
        <th>Amount</th>
        <th>Name</th>
        <th>Email</th>
        <th>Telephone</th>
        <th>Address</th>
        <th>Postcode</th>
        <th>City</th>
        <th>Country</th>
        <th></th>
        
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let order of orders">
        <td>{{order.orDate | date}}</td>
        <th >{{order.orderId}}</th>
        <td>{{order.amount | currency: 'GBP':true}}</td>
        <td>{{order.customerName}}</td>
        <td>{{order.email}}</td>
        <td>{{order.telephone}}</td>
        <td>{{order.address}}</td>
        <td>{{order.postCode}}</td>
        <td>{{order.city}}</td>
        <td>{{order.country}}</td>
        <td><button (click)="seeItems(order.id)" class="btn btn-default" type="button">See Items</button></td>
      </tr>

    </tbody>
  </table>
</section>
