<section class="ac-container">
    <div class="ac-head">
        <img src="assets/slider-access-control-jpg.jpeg"  alt="">
        <div class="ac-title">
        <h1>Profile</h1>
        </div>
    </div>
</section>
<section class="ac-main-content container">
    <div class="ac-update">
        <h4>Billing Address</h4>
        <div class="form-group row">
            <label for="example-text-input" class="col-2 col-form-label">First Name</label>
            <div class="col-10 form-input">
                <input class="form-control" type="text" value="kale" id="example-text-input">
            </div>
        </div>
        <div class="form-group row">
        <label for="example-search-input" class="col-2 col-form-label">Last Name</label>
        <div class="col-10 form-input">
            <input class="form-control" type="search" value="Artisanal " id="example-search-input">
        </div>
        </div>
       
         <div class="form-group row">
        <label for="example-datetime-local-input" class="col-2 col-form-label">Company Name</label>
        <div class="col-10 form-input">
            <input class="form-control" type="text" value="Starbucks" id="example-datetime-local-input">
        </div>
         </div>
         
        <div class="form-group row">
        <label for="example-password-input" class="col-2 col-form-label">First Line Address</label>
        <div class="col-10 form-input">
            <input class="form-control" type="text" value="hunter2" id="example-password-input">
        </div>
        </div>

        <div class="form-group row">
        <label for="example-number-input" class="col-2 col-form-label">Second Line Address</label>
        <div class="col-10 form-input">
            <input class="form-control" type="text" value="42" id="example-number-input">
        </div>
        </div>

        <div class="form-group row">
        <label for="example-date-input" class="col-2 col-form-label">Post Code</label>
        <div class="col-10 form-input">
            <input class="form-control" type="text" value="SE14 5DG" id="example-date-input">
        </div>
        </div>

        <div class="form-group row">
        <label for="example-month-input" class="col-2 col-form-label">City</label>
        <div class="col-10 form-input">
            <input class="form-control" type="text" value="London" id="example-month-input">
        </div>
        </div>

        <div class="form-group row">
        <label for="example-week-input" class="col-2 col-form-label">Country</label>
        <div class="col-10 form-input">
            <input class="form-control" type="text" value="United Kingdom" id="example-week-input">
        </div>
        </div>

    </div>
</section>