@import '../../../assets/stylesheets/variables';

.page-content{
    position: relative;
    min-height: 500px;
    max-width: 75%;
    .jumbotron{
        margin: 50px;
        h4{
            font-family: 'Dosis', sans-serif;
            font-size: 1.5em;
            font-weight: 400;
            color: #35bbad;
        }
        p{
            font-size: 0.9em;
        }
        a{
            color: #ffffff;
        }
    }
}

@media only screen and (min-width:250px) and (max-width: 640px){
    .page-content{
        position: relative;
        min-height: 500px;
        max-width: 100%;
        width:100%;
        .jumbotron{
            margin: 0px;
            margin-top: 20px;
            width: 100%;
        }
    }
}