<section class="cb-page-container">
  <div class="cb-page-head">
    <!--<img src="assets/about-us.jpg"  alt="">-->
    <div class="cb-page-title">
      <!-- <h1>Return Policy</h1> -->
    </div>
  </div>
</section>
<section class="container page-content">
  <h3>Return Policy</h3>
  <p>
    Your product must be complete and in 'as new' condition e.g. 
    if you have opened the box to examine the product you must have 
    done so without damaging or marking the product or packaging. 
    It must not have been used. It should be returned with the original 
    box and packing you received with it.
    </p>
    <p>
      If you follow the steps above you will receive a full refund of the 
      product price.
    </p>
    <h4> We cannot cancel your purchase when:</h4>
    <ul>
       <li>
        The seal has been broken on any products, or the goods were a special order to 
        your specification (including ground-to-order options of espresso, filter).
      </li>
    </ul>
   
    <h4>To qualify for a refund or exchange the product must be:</h4>
    <ol>
       <li>
        In otherwise "as new" condition; and if possible, the original box and packaging.
      </li>
      <li>
        The coffee can not be returned unless it is sent damaged or by 
        mistake
      </li>
      <li>wrong delivery or damaged products should be returned within 7 days after receiving the goods</li>
      
    </ol>
   

  <h6>This promise does not cover faults caused by accident, neglect, misuse or normal wear and tear.</h6>
</section>