<section>

  <table class="table table-striped">
    <thead class="thead-inverse">
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Telephone</th>
        <th>Message</th>
        <th></th>
       
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let contact of contacts">
        <td>{{contact.firstName}}</td>
        <td>{{contact.lastName}}</td>
        <td>{{contact.email}}</td>
        <td>{{contact.telephone}}</td>
        
        <td><a style="color: orangered; cursor:poi" (click)="seeContact(contact)" >read message</a></td>
        <td><i (click)="removeContact(contact.$key)" class="btn fa fa-times remove-cart-i" aria-hidden="true"></i></td>
      </tr>

    </tbody>
  </table>
  <div class="display-contact" *ngIf="showMsg">
    <div class="jumbotron-container">
      
      <div class="jumbotron">
        <h4>From: {{singlecontact.firstName}}</h4>
        <p>message: {{singlecontact.message}}</p>
      </div>
      <button (click)="closeMsg()" class="btn btn-danger" type="button">close</button>
    </div>
  </div>
</section>

<div *ngIf="contacts.length < 1" class="progress container load-item">
      <div class="progress-loading" >
          <strong>
              <h3><i class="fa fa-spinner fa-spin fa-3x fa-fw"></i></h3>
          </strong>
      </div>
  </div>