<section class="cb-page-container">
  <div class="cb-page-head">
    <!--<img src="assets/about-us.jpg"  alt="">-->
    <div class="cb-page-title">
      <h1>Terms and Conditions</h1>
    </div>
  </div>
  <section class="container page-content">
    <div class="contact-form">
      <p>These Terms and Conditions apply to all transactions on this site. Please read them carefully. They do not affect your statutory rights.

We may change these terms and conditions at any time. Any changes will take effect on the date they are posted onto the site (see date above). Placing an order through the site constitutes acceptance of the following terms and conditions.

Our Contract

You will have an opportunity to check and correct any input errors in your order up until you click the Submit Order button.

After you submit an order we will give you an Order Reference Number and details of the products you have ordered. We will send the same details to you in a confirmation e-mail. Please note that this e-mail is an acknowledgement, not acceptance of your order.

We will tell you if your payment details cannot be authorised for any reason and may invite you to pay by another method.

Prices and Payment

All prices and charges on this site are in UK pounds, unless alternative currencies are selected. They include any VAT payable (most coffee products are currently excluded from UK VAT), but exclude delivery charges, if applicable.

The total cost of your order will be the price of the products you order plus the applicable delivery charge. All these will be set out clearly in your Shopping Basket before you submit your order.

Prices, offers and products are subject to availability and may change before (but not after) we accept your order. If something becomes unavailable we may offer you an alternative.

Customer Voucher Code Offers ("Voucher Codes")

Where you use a valid promotional code we have issued in conjunction with your purchase, the following additional terms and conditions apply:

- Voucher Codes will only be available on order values over the amount stated in the offer. - Voucher Codes are only valid until the date published. - Voucher Codes are only redeemable for purchases made on this website (coffee-direct.co.uk) - Only one Voucher Code may be used per customer per transaction. - We reserve the right to end any Voucher Codes at any time including prior to the advertised end date without notice.

IMPORTANT: We try very hard to ensure that all information on this site is accurate. However, occasionally, an error can occur. If we discover an error in the price or description of a product you have ordered, we may cancel your order at any time up to the point we send the product(s) to you. We will contact you where we become aware of an error and ask you whether you wish to continue with your order at the correct price or cancel it. If we do cancel your order you will receive a full refund of any charges paid in advance.

We accept payment by Mastercard, Visa, Delta, Maestro, American Express and Diners Club. Payment is deducted when we process your order.

Delivery Locations and Charges

Please see our Delivery Policy for full details.

Missing, Damaged or Incorrect Orders

We try very hard to ensure that you receive your order in pristine condition. If you do not receive all your products or in the unlikely event that a product arrives damaged, please contact us via the Returns section of the website.

Change of Mind Cancellations

You can cancel your purchase at any time either before or up to 7 working days* following the day you receive the goods by emailing us at the address shown in the 'contact us' section of the website.

Your product must be complete and in 'as new' condition e.g. if you have opened the box to examine the product you must have done so without damaging or marking the product or packaging. It must not have been used. It should be returned with the original box and packing you received with it. Any 'Free Gifts' received with the product must also be returned.

If you follow the steps above you will receive a full refund of the product price and any delivery charge paid.

We cannot cancel your purchase when:

The seal has been broken on any products, or the goods were a special order to your specification (including ground-to-order options of espresso, filter, cafetiere, percolator and turkish grinds).

To qualify for a refund or exchange the product must be:

In otherwise "as new" condition; and complete with any free gifts offered with it and, if possible, the original box and packaging.

This promise does not cover faults caused by accident, neglect, misuse or normal wear and tear.

Subscribe & Save

Only items that offer the Subscribe & Save option are eligible

The price charged at the frequency selected will be fixed at the discounted price shown on the product line within the checkout, unless we contact you. We reserve the right to amend product prices, and will contact you to discuss your subscription before changing any charges.

We reserve to right to cancel our Subscribe & Save product at any time.

Delivery times are approximate – whilst we strive to deliver at the requested frequencies, we will not be held liable for late deliveries.

Subscribe & Save is only available to customers paying via our debit/credit card option. We cannot offer Subscribe & Save to PayPal customers at this time.

Voucher codes utilized at the point of the initial order will be honoured for the duration of their validity, provided the prerequisites of such codes’ validity are met on subsequent deliveries/charges.

Free delivery is available on qualifying Standard UK Delivery orders; our usual UK Remote and International delivery charges apply for UK Remote and International Subscribe & Save orders respectively.

Loyalty Scheme

We reserve the right to amend or cancel our loyalty scheme at any time without prior notice.

This Website

We, our Group companies and our suppliers own the copyright, trademarks and all other intellectual property rights in all material and content on this website, which you may use, download, copy, publish, transmit or otherwise make available by any other means only for your own personal, non-commercial use. Any other use or reproduction of the material or content is strictly prohibited.

You may not create any link to this website without our prior written consent, nor may you restrict or inhibit the use or enjoyment of it by anyone else.

Personal Information

See our Privacy Policy for details of how we keep your details secure.

General

These terms and conditions and all transactions relating to this website are governed by English law and are subject to the non-exclusive jurisdiction of the English courts. We do not accept amendments to these terms and conditions.

Your data protection rights are set out in our Privacy Policy.

Items sold on this website are intended for normal domestic and consumer use and are not intended for resale or commercial use. We reserve the right to refuse access to this website, to remove or edit content, or to refuse or cancel orders at our discretion. If we cancel an order, it will be without charge to you, and we will reimburse any payment made by you.

Additional terms and conditions may apply for prize competitions, pre-release orders and our added value services and offers. If so, you will be alerted to them at the relevant juncture.

These terms and conditions only cover the Coffee-Direct.co.uk website. Any other websites to which you link from this site are governed by their own terms and conditions. We accept no responsibility or liability for the content or operation of websites which are not under our control. We are required by law to tell you that sales can be concluded in English only and that no public filing requirements apply.</p>
    </div>
    <div class="contact-address">
     
    </div>
  </section>
</section>