<section class="br-page-container">
  <div class="br-page-head">
    <img src="assets/our-coffee.jpg"  alt="">
    <div class="br-page-title">
      <h1>Brewing Methods</h1>
    </div>
  </div>
  <section class="br-page-content container">
    <h5>Select your brewing method from the categories below to find the perfect coffee for your bean-to-cup machine, cafetiere or filter machine. We've carefully selected coffee beans that we consider to be the perfect choice for each type; you can select whether you'd like whole beans, or choose from our grind options on the product page for each of our coffees.</h5>

    <div>
      <h2>Coffee for Bean-to-Cup Machines</h2>
      <p>Bean-to-cup machines automatically grind and brew coffee via the espresso method. They are becoming more and more popular due to their ease of use and consistent results. Simply select 'Beans' from the grind options before adding your coffee to the basket, rather than selecting from our grind options.</p>
    </div>
    <div>
      <h2>Coffee for Cafetieres</h2>
      <p>Cafetieres, also know as French Presses or coffee plungers, require a coarser grind of coffee than coffee filters. The coffee is brewed directly in hot water before the plunger is used to hold the grinds at the bottom of the container. The strength of your brew can be easily adjusted by using more or less ground coffee to taste. Simply select the 'Cafetiere' grind option when adding our coffees to your basket.</p>
    </div>
    <div>
      <h2>Coffee for Espresso Machines</h2>
      <p>Espresso style coffee is brewed by forcing pressurised hot water through finely ground coffee beans, creating a generally thicker coffee than other methods. Espresso coffee forms the basis of many popular coffee drinks including cappuccino, latte and mocha, and is well used both at home and in coffee shops and cafes throughout the world.</p>
    </div>
    <div>
      <h2>Coffee for Filter Machines</h2>
      <p>Filter coffee is produced by pouring water over ground coffee beans, then passing the liquid through a membrane (often paper) to filter out the larger grounds leaving the brewed coffee to collect. Filter, or drip brewed coffee, is particularly popular in America and generally produces a lighter-bodied brew than some other methods.</p>
    </div>
  </section>
</section>
