<section class="cb-page-container">
  <div class="cb-page-head">
    <!--<img src="assets/about-us.jpg"  alt="">-->
    <div class="cb-page-title">
      <!-- <h1>Terms and Conditions</h1> -->
    </div>
  </div>
  <section class="container page-content">

      <h3>Terms and Conditions</h3>

      <p>
        These Terms and Conditions apply to all transactions on this site. 
        Please read them carefully. They do not affect your statutory rights.
      </p>
      <p>
        We may change these terms and conditions at any time. Any changes will take 
        effect on the date they are posted onto the site (see date above). 
        Placing an order through the site constitutes acceptance of the following terms and conditions.
      </p>
      <h4>Prices and Payment</h4>
      <p>
        All prices and charges on this site are in UK pounds, unless alternative 
        currencies are selected. They include any VAT payable (most coffee products are 
        currently excluded from UK VAT), but exclude delivery charges, if applicable
      </p>
      <p>
        The total cost of your order will be the price of the products you order plus 
        the applicable delivery charge. All these will be set out clearly before you submit your order.
      </p>
      <p>
        Prices, offers and products are subject to availability and may change before 
        (but not after) we accept your order. If something becomes unavailable we may 
        offer you an alternative
      </p>
      <p class="alert-danger" id="importanT">
        IMPORTANT: We try very hard to ensure that all information on this site is accurate. 
        However, occasionally, an error can occur. If we discover an error in the price or 
        description of a product you have ordered, we may cancel your order at any time up to 
        the point we send the product(s) to you. We will contact you where we become aware of 
        an error and ask you whether you wish to continue with your order at the correct price 
        or cancel it. If we do cancel your order you will receive a full refund of any charges 
        paid in advance.
      </p>
      <p>
        We accept payment by Mastercard, Visa, Maestro, JCB. 
        Payment is deducted when we process your order.
      </p>
      <p>
        We try very hard to ensure that you receive your order in pristine condition. 
        If you do not receive all your products or in the unlikely event that a product 
        arrives damaged, please contact us via our contact email.
      </p>
      <h4>Change of Mind Cancellations</h4>
      <p>
        You can cancel your purchase at any time either before or up to 7 working days* 
        following the day you receive the goods by emailing us at the address shown in the 
        'contact us' section of the website.
      </p>
      <p>
        Your product must be complete and in 'as new' condition e.g. if you have opened the 
        box to examine the product you must have done so without damaging or marking the 
        product or packaging. It must not have been used. It should be returned with the 
        original box and packing you received with it
      </p>
      <h4>General</h4>
      <p>
        These terms and conditions and all transactions relating to this website are governed 
        by English law and are subject to the non-exclusive jurisdiction of the English courts. 
        We do not accept amendments to these terms and conditions.
      </p>
      <p>Your data protection rights are set out in our Privacy Policy.</p>
      <p>
        Items sold on this website are intended for normal domestic and consumer use and are not 
        intended for resale or commercial use. We reserve the right to refuse access to this website, 
        to remove or edit content, or to refuse or cancel orders at our discretion. If we cancel an 
        order, it will be without charge to you, and we will reimburse any payment made by you
      </p>
      <p>Additional terms and conditions may apply for prize competitions, pre-release orders and our 
        added value services and offers. If so, you will be alerted to them at the relevant juncture.
      </p>
      <p id="last">
        These terms and conditions only cover the londoncityroast.com website. Any other websites to 
        which you link from this site are governed by their own terms and conditions. We accept no 
        responsibility or liability for the content or operation of websites which are not under our 
        control. We are required by law to tell you that sales can be concluded in English only and 
        that no public filing requirements apply.
      </p>

  </section>
</section>