<section class="cm-page-container">
  <div class="cm-page-head">
    
    <div class="cm-page-title">
      <h1>Error Occur</h1>
    </div>
  </div>
</section> 

<section class="container">
    <div class="page-content container">
        <div class="jumbotron" >
          <h4>Exeptions Occur</h4>
          <p>Something went wrong while we are processing your payment,
            Please try again by clicking on the button below...
          </p>

          <button class="btn btn-danger" (click)="reTry()" role="button">Try Again</button>
        </div>
    </div>
</section>