<section class="cm-page-container">
  <div class="cm-page-head">
    
    <div class="cm-page-title">
      <h1>Order Confirmation</h1>
    </div>
  </div>
</section> 

<section class="container">
    <div class="page-content container">
        <div class="jumbotron">
          <h4>Payment Confirmation <span><i style="color: lightseagreen; font-size: 40px;" class="fa fa-check" aria-hidden="true"></i></span></h4>
          <p>Thank you for completing the secured payment process, Your goods will be on it's way to you soon!!
          </p>
          <p>To complete the order process, please click on the finish order button below!</p>
          <button class="btn btn-success btn-lg" (click)="successUpdate()" routerLink="/"  role="button">Finish Order</button>
        </div>
    </div>
</section>

