<section class="cm-page-container">
  <div class="cm-page-head">
    
    <div class="cm-page-title">
      <!-- <h1>Order Confirmation</h1> -->
    </div>
  </div>
</section> 

<section class="">
    <div class="page-content container">
        <div class="jumbotron">
          <h4>Order Confirmation <span><i class="material-icons" style="color: lightseagreen; font-size: 26px;">check</i></span></h4>
          <p>Thank you for completing the secured payment process, Your goods will be on it's way to you soon!!
          </p>
          <p>To complete the order process, please click on the finish order button below!</p>
          <a class="waves-effect waves-light btn" (click)="successUpdate()">Finish</a>
        </div>
    </div>
</section>

