<div class="footer-container">
    <footer class="footer-content container">
        <div class="footer-brand">
            <img src="assets/LCRartwork-05.png" style="width: 100px" alt="lcr">
        </div>
        <div class="footer-address">
            <h5>Unit B3 Crabtree Manorway North </h5>
            <h6>DA17 6AX</h6>
            <h5 id="tel">0208 310 8517 </h5>
            <h5 id="imail">info@londoncityroast.com</h5>
            <h6 id="crt">Copyright ©londoncityroast 2017 | All rights reserved </h6>
            <h6 id="tcp"><span id="pv" routerLink="/return-policy">Return Policy</span> | <span id="tc" routerLink="/terms">Terms & Conditions</span></h6>
        </div>
        <div class="social-media">
            <a><img src="https://www.merchantequip.com/image/?logos=v|m|jcb|me&height=64" alt="Merchant Equipment Store Credit Card Logos" /></a> 
           <!--<h1><a href=""><i class="fa fa-cc-mastercard" aria-hidden="true"></i></a></h1> 
           <h1><a href=""><i class="fa fa-cc-jcb" aria-hidden="true"></i></a></h1> 
           <h1><a href=""><i class="fa fa-cc-visa" aria-hidden="true"></i></a></h1>-->
        </div>
        <div id="designer">
            <p>Design and coded by Austin =>Onklick Media</p>
        </div>
    </footer>
</div>

 <!--Footer section for mobile only-->
<div class="footer-mobile">
    <div class="footer-brand">
        <div class="left-line">
            
        </div>
        <div class="branded">
            <img (click)="back()" src="assets/LCR-branded.png"  alt="lcr">
        </div>
        <!--<div class="right-line">
            
        </div>-->
    </div>
    <footer class="footer-content-mobile container">
        <div class="footer-address-mobile">
            <h5>London City Roast Ltd</h5>
            <h5> Unit B3 Crabtree Manorway North</h5>
            <h5> DA17 6AX </h5>
            <h4>0208 310 8517</h4>
            <h4>info@londoncityroast.com</h4>
            
        </div>
        <div class="copy-right">
            <h6>Copyright © 2017 | All rights reserved</h6>
            <h6 style="color:aquamarine" routerLink="/return-policy">Return Policy</h6>
            <h6 style="color:aquamarine" routerLink="/terms">Terms & Conditions</h6>

        </div>
        <div class="social-media-mobile">
            <a><img src="https://www.merchantequip.com/image/?logos=v|m|jcb|me&height=32" alt="Merchant Equipment Store Credit Card Logos" /></a>
           <!--<i class="fa fa-facebook-square" aria-hidden="true"></i>
            <i class="fa fa-twitter-square" aria-hidden="true"></i>
           <i class="fa fa-instagram" aria-hidden="true"></i>-->
        </div>
        <div class="developer-info">
            <h1>Design and Coded by Austin < Onklick Media > </h1>
            <p>
                <i class="fa fa-phone-square" aria-hidden="true"></i>
                07853292983
            </p>
        </div>
    </footer>
</div>