<div class="footer-container">
    <footer class="footer-content container">
        <div class="footer-address">
            <h5>London City Roast Ltd Unit B3 Crabtree Manorway North ,DA17 6AX </h5>
            <h5>0208 310 8517 | Email: info@londoncityroast.com</h5>
            <h6>Copyright © 2017 | All rights reserved | <span style="color:aquamarine" routerLink="/privacy">Privacy Policy</span> | <span style="color:aquamarine" routerLink="/terms">Terms & Conditions</span></h6>
        </div>
        <div class="social-media">
           <h1><a href=""><i class="fa fa-facebook-square" aria-hidden="true"></i></a></h1> 
           <h1><a href=""><i class="fa fa-twitter-square" aria-hidden="true"></i></a></h1> 
           <h1><a href=""><i class="fa fa-instagram" aria-hidden="true"></i></a></h1>
        </div>
    </footer>
</div>