<div class="app-header" id="app-header">
  <div class="header-container">
    <img (click)="toggleBanner1()" *ngIf="!isBanner" [src]="ourCoffee" alt="Header image">
    <img (click)="toggleBanner2()" *ngIf="isBanner" [src]="puringCoffee" alt="Header image">
    <div class="banner-text">
      <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <!--<ol class="carousel-indicators">
          <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-example-generic" data-slide-to="1"></li>
          <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        </ol>-->
        <div class="carousel-inner" role="listbox">
          <div class="carousel-item active">
            <h1>Freshly <span style="color:#f48024">Roasted Coffee</span> Beans, <span style="color:lightslategrey">for your pleasure</span> </h1>
            <h4 style="color:#f48024">number 1 taste in coffee</h4>
          </div>
          <div class="carousel-item">
          
            <h1>Perfactly <span style="color:lightslategrey">Roasted Coffee</span> Beans, blend for a good taste</h1>
            <h4 style="color:#f48024">taste much better</h4>
          </div>
          <div class="carousel-item">
            
            <h1>Freshly Roasted Coffee Beans, for your pleasure</h1>
            <h4 style="color:#f48024">number 1 taste in coffee</h4>
          </div>
        </div>
        <div class="banner-link">
          <button routerLink="/coffees" class="btn btn-success" type=""><i class="fa fa-eye" aria-hidden="true"></i> See Our Coffees</button>
          <div class="arrow">
           <a href="#next-sec"> <i (click)="slideUp()" class="fa fa-angle-double-down" aria-hidden="true"></i></a>
          </div>
        </div>
      
        <!--<a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
          <span class="icon-prev" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
          <span class="icon-next" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>-->
      </div>
    </div>
  </div>
</div>
<div id="next-sec">
</div>
