@import '../../assets/stylesheets/variables';
@import '../../assets/stylesheets/mixins';
@import '../../assets/stylesheets/transitions';

//---Navigation menu Section---//

.activated {
    color: #f48024 !important;
    background-color: #000;
    @include border-radius(5px);
    padding-left: 5px;
    padding-right: 5px;
    border: 1px solid;
    border-color: #f48024;
    @include transition(0.2s);
    li a{color: #f48024}
    // box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.navbar{
    position: relative;
    background: transparent;
    z-index: 1000;
    padding: 0px !important;
   
    .right-nav{
        position: absolute;
        right: 40px;
        top: 10px;
        color: #fff !important;
        ul li a{
            color: #fff !important;
            opacity: .5;
            &:hover{cursor: pointer;}
        }
    
    }
    .brand img{
        opacity: 0.8;
        width: 100px;
        height: 100px;
    }
    .brand-logo{
        position: absolute;
        top: 15px;
        // left: 10px;
        .brand-list{
            display: inline-flex;
            display: -webkit-box;   /* OLD: Safari,  iOS, Android browser, older WebKit browsers.  */
            display: -moz-box;      /* OLD: Firefox (buggy) */
            display: -ms-flexbox;   /* MID: IE 10 */
            display: -webkit-flex;  /* NEW, Chrome 21?28, Safari 6.1+ */
           .brand-item-text{
               padding: 30px 5px;

               h6{
                   color: lightslategrey;
                   font-size: 12px;
                   padding-left: 10px;
                   font-family: 'Satisfy', cursive;
                   letter-spacing: 3px;
               }
           }
        }
        span.logo-text{
            color: lightgrey;
            font-family: 'Anton', sans-serif;
            letter-spacing: 2px;
            padding: 0px;
            margin: 0px;
            font-size: 20px;
        }
    }
    .anonymous-wrapper{
        position: fixed;
        width: 100%;
        height: 100vmax;
        z-index: 10000;
        background-color: rgba(0,0,0, 0.5);
        
        .anonymous{
            position: absolute;
            top: 10%;
            left: 50%;
            width: 40%;
            margin-left: -20% ;
            text-align: center;
            @include transition(0.2s);
            .ano-content{
                position: relative;
                background-color: #fff;
                opacity: 0.99;
                width: 100%;
                button.ano-b{background-color: slategray; color: #fff;}
                i.fa-close{
                    position: absolute;
                    right: 10px;
                    top: 10px;
                    font-size: 20px;
                    &:hover{color: red; cursor: pointer;}
                }
                h2{
                    // color: black;
                }
                p{padding: 10px 0px;}
                span#span{
                        color: red;
                    }
            }
        }
    }
}

.cartSum{
    // border: 1px solid;
    // @include border-radius(50%);
    padding: 5px 0px;
    // background-color: green;
    i{
        font-size: 15px;
        color: #f48024;
    }
    span{
        margin: 0px;
        padding: 0px;
        font-size: 14px;
    }
}
//==Login and Logout Menu==//
.login-out{
    position: absolute;
    top: 0px;
    right: 0px;
    // width: 150px;
    height: 200px;
    background-color: lightgray;
    z-index: 1000;
    margin: 0px;
    @include transition(0.4s);
    overflow: hidden;
    #iClose i{
        padding: 5px 0px 0px 10px; 
        color: lightslategrey; 
        &:hover{color: red; cursor: pointer;}}
    .login-items{
        padding-right: 10px !important;
        margin: 0px !important;
        margin: 10px 0px !important;
        li{
            // margin-top: 10px !important;
            padding: 5px 0px !important;
            // list-style: none !important;
            &:hover{cursor: pointer; color: lightslategray;}
        }
        hr{margin: 0px; padding: 0px;}
    }
}
.dropdow-colp{
    position: fixed;
    width: 100%;
    height: 100vh;
    // background-color: red;
    z-index: 99;
}


// .navbar-nav{

//     .nav-item:nth-child(3){
//         //background-color: red;
//         &:hover{
//             background-color: green;
//             color: blue !important;
//             opacity: 0.5;
//         }
//     }
// }