@import '../../assets/stylesheets/variables';
//--Header sections---//
.app-header{
    position: relative;
    background-color: $primary-color;
    top: 0px;
    .header-container{
        display: flex;
        height: 700px;
        overflow: hidden;
        img{
            position: fixed;
            background-size: cover;
            width: 100%;
            min-height: 700px;
            opacity: 0.2;
        }
    }
}
.banner-text{
    // margin: auto;
    position: absolute;
    top: 280px;
    left: 50%;
    max-width: 500px;
    margin-left: -250px;
    text-align: center;
    h1{
        color: lightgray;
        font-family: 'Lobster', cursive;
        }
    h4{
        color: lightgrey;
        font-family: 'Caveat', cursive;
        letter-spacing: 1px;
    }
    .banner-link{
        button{
            background: transparent;
            color: lightgray; //lightslategrey;
            border-color: lightgray; //lightslategrey;
            &:hover{
                color: lightslategrey;//lightgray;
                border-color: lightslategrey;//lightgray;
            }
            i{font-size:22px;}
        //    margin-buttom: 30px;
        }
         .arrow i{
            margin-top: 20px;
            color: #f48024;
            font-size: 22px;
            transition: 1s;
            &:hover{
                margin-top: 30px;
                cursor: pointer;
            }
        }
    }
}
.banner-tug{
    position: absolute;
    bottom: 0px;
}



//----Footer Section-----///
.footer-container{
    position: relative;
    background-color: $primary-color;
    border-top: 2px solid;
    border-color: #f48024;
    
}
.footer-content{
    padding: 20px 10px;
    box-sizing: border-box;
    // display: flex;
    text-align: center;
    .footer-brand{
        margin-bottom: 10px;
        img{
            -webkit-filter: grayscale(100%);
            filter: grayscale(100%); 
            opacity: 0.5;
        }
    }
    .footer-address{
        // flex: 3;
        h5, h6 {
            color: lightgrey;
            letter-spacing: 1px;
        }
        #imail{
            color: #f48024;
            letter-spacing: 2px;
            opacity: 0.6;
        }
        #crt{
            font-size: 14px;
            letter-spacing: 3px;
        }
        #tel{
            letter-spacing: 4px;
        }
        #tcp{
            color:aquamarine;
            opacity: 0.5;
            #tc:hover{
                cursor: pointer;
                color: lightslategray;
            }
            #pv:hover{
               cursor: pointer;
               color: lightslategray; 
            }
        }

    }
    #designer{
        p{
            color: lightslategray;
            opacity: 0.5;
            letter-spacing: 3px;
        }
    }
    .social-media{
        display: inline-flex;
        // display: -webkit-box;   /* OLD: Safari,  iOS, Android browser, older WebKit browsers.  */
        // display: -moz-box;      /* OLD: Firefox (buggy) */
        // display: -ms-flexbox;   /* MID: IE 10 */
        // display: -webkit-flex;  /* NEW, Chrome 21?28, Safari 6.1+ */
        h1{
            margin: 20px;
            i{
                color:#fff;
                &:hover{
                    cursor: pointer;
                    color: lightslategray; 
                }
            }
        }
        
    }

}