<section class="cf-page-container">
  <div class="cf-page-head">
    <img src="assets/beans-coffee-cup.jpeg"  alt="coffee-beans">
    <div class="cf-page-title">
      <h1>Our Coffee</h1>
    </div>
  </div>
</section>

<section id="cover-page">
  <section class="container cf-page-content">
    <div class="coffee-text">
      <h1>Our Great Coffee</h1>
      <p style="margin:0px; padding:0px; opacity:0.4;">toggle switch to hide/show text</p>
      <a (click)="toggleInfo()" type="">
        <i *ngIf="!togInfo" class="fa fa-toggle-off" aria-hidden="true"></i>
        <i *ngIf="togInfo" class="fa fa-toggle-on" aria-hidden="true"></i>
        <!--<i *ngIf="togInfo" class="fa fa-caret-square-o-down" aria-hidden="true"></i>-->
        <!--<i *ngIf="!togInfo" class="fa fa-caret-square-o-up" aria-hidden="true"></i>-->
      </a>
      <div class="togInfo" *ngIf="togInfo">
        <h6>At London City Roast, we are very particular about our coffee. We know what it takes to build a loyal customer base, and how providing a great-tasting coffee improves your bottom line.</h6>
        <p> We source our coffees from all over the world, and roast them at our 
            London Headquarters, to guarantee freshness and great taste. With over 
            5 years of roasting and blending experience, we pride ourselves on 
            bringing you some of the finest coffees available.
          Working with our experienced roaster on a daily basis, we ensure our 
          coffees are rarely older than a few days, by the time they reach our 
          customers across the country.
         </p>
      </div>
       
    </div>
      <section class="coffees container">
        <div class="row content-wrapper">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-3 coffee" *ngFor="let product of products">
              <div class="coffee-wrapper">
                <div class="coffee-img">
                  <div class="p-size">
                    <div class="badge">
                      <h5 >{{product.size}}</h5>
                    </div>
                  </div>
                  <img (click)="viewProduct(product.id)" [src]="product.imageUrl" alt="product image">
                  </div>
                  <div class="coffee-title">
                    <h1>{{product.name}}</h1>
                    <h6>{{product.blend}}</h6>
                    <!--<h6>{{product.roast}}</h6>-->
                    <a><button (click)="viewProduct(product.id)" class="btn btn-default" type=""><i class="fa fa-cart-plus" aria-hidden="true"></i> Order Now</button></a>
                  </div>
                  <div class="coffee-description">
                    
                  </div>
              </div>
                
              </div>
               
          </div>
    </section>
  </section>
</section>
