<section class="container fp-page-content">
     <!--<a routerLink="/products"><button class="btn btn-default">Go to Products</button></a>-->
    <form *ngIf="lastId" [class.has-success]="newproduct.valid" novalidate [formGroup]="newproduct" (ngSubmit)="createProd(newproduct.value)">
        <div class="form-group">
            <h6>Product Id: <span>0{{lastId}}</span></h6>
        </div>
        <div class="form-group">
            <label for="name">Name</label>
            <input  type="text" class="form-control" formControlName="name" required placeholder="product name">
        </div>
        <div class="form-group">
            <div class="col col-lg-6">
               <label for="Product Price">Old Price</label>
                <input type="text" class="form-control" formControlName="oldprice" required pattern="[0-9]+\.?[0-9]+" placeholder="old price"> 
            </div>
            <div class="col col-lg-6">
                <label for="Product Price">Now Price</label>
                <input type="text" class="form-control" formControlName="price" required pattern="[0-9]+\.?[0-9]+" placeholder="now price">
            </div>
        </div>
        <div class="form-group">
            <div class=" col col-lg-6">
                <label for="code">Product Code</label>
                <input type="text" class="form-control" formControlName="code" required pattern="[0-9]+" placeholder="product code">
            </div>
            <div class=" col col-lg-6">
                <label for="category">Product Category</label>
                <input type="text" class="form-control" formControlName="category" required placeholder="product category">
            </div>
        </div>
        <!--Add Blend, Size, and Roast-->
        <div class="row">
            <div class="form-group col-lg-4">
                <label for="blend">Blend</label>
                <!--<input type="text" class="form-control" formControlName="blend" placeholder="Blend">-->
                <select type="text" class="form-control" formControlName="blend" placeholder="Blend">
                    <option value="Coffee beans">Coffee Beans</option>
                    <option value="Espresso">Espresso</option>
                    <option value="Nespresso">Nespresso</option>
                    <option value="Paper Filter">Paper Filter</option>
                    <option value="French Press">French Press</option>
                    <option value="Metal Filter">Metal Filter</option>
                    <option value="Turkish Fine">Turkish Fine</option>
                </select>
            </div>
            <div class="form-group col-lg-4">
                <label for="size">Size</label>
                <!--<input type="text"  class="form-control" formControlName="size" placeholder="Size">-->
                <select type="text"  class="form-control" formControlName="size" placeholder="Size">
                    <option value="1kg">1Kg</option>
                    <option value="500g">500g</option>
                    <option value="250g">250g</option>
                </select>
            </div>
            <div class="form-group col-lg-4">
                <label for="roast">Roast</label>
                <!--<input type="text" class="form-control" formControlName="roast" placeholder="Roast">-->
                <select type="text" class="form-control" formControlName="roast" placeholder="Roast">
                    <option value="Light Roast">Light Roast</option>
                    <option value="Medium Roast">Medium Roast</option>
                    <option value="Dark Roast">Dark Roast</option>
                </select>
            </div>
        </div>
        
        <div class="form-group myinput">
            <label for="price">Description</label>
            <textarea rows="5" class="form-control" formControlName="description" required placeholder="description"></textarea>
        </div>
        <button class="btn" [disabled]="!newproduct.valid" [class.btn-success]="newproduct.valid" type="submit">Add Product</button>
       <span><a routerLink="/dashboard/products-list">Cancel</a></span>
    </form>
    <!--<div>
        <p>Validate: {{newproduct.valid | json}}</p>
    </div>-->
</section>