<section class="cb-page-container">
  <div class="cb-page-head">
    <img src="assets/contact.jpeg"  alt="">
    <div class="cb-page-title">
      <h1>Contact us</h1>
    </div>
  </div>
  <div class="container contact-info">
      <h1>Contact us</h1>
      <p>Please call us on the number below or fill the form below </p>
      <p>and one of our team will get back to you as soon as possible.</p>
    </div>
  <section class="container page-content">
    <div class="contact-address">
        <h4>Our Office</h4>
        <p>Unit B3 Crabtree Manorway North</p>
        <p>DA17 6AX</p>
        <br>
        <p>Email: info@londoncityroast.com</p>
        <p>Tel: 0208 310 8517</p>
     </div>
    <div class="contact-form">
      <form>
        <div class="row">
          <div class="form-group col col-xs-6">
            <label for="firstname">First Name</label>
            <input type="text" class="form-control" id="firstnamet" placeholder="first name">
          </div>
          <div class="form-group col col-xs-6">
            <label for="lastname">Last Name</label>
            <input type="text" class="form-control" id="lastname" placeholder="last name">
          </div>
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="text" class="form-control" id="email" placeholder="email">
          </div>
          <div class="form-group">
            <label for="telephone">Telephone</label>
            <input type="text" class="form-control" id="telephone" placeholder="telephone">
          </div>
          <div class="form-group">
            <label for="message">Message</label>
            <textarea rows="5" class="form-control" id="message" placeholder="message"></textarea>
          </div>
          <div class="form-group">
            <button class="btn btn-default" type="button">Send</button>
          </div>
      </form>
    </div>
  </section>
</section>