
<section class="ab-page-container">
  <div class="ab-page-head">
    <img src="assets/DSCN0715-min.JPG"  alt="">
    <div class="ab-page-title">
      <h1>About us</h1>
    </div>
  </div>
</section> 
<section id="cover-page">
  <section class="container page-content">
    <div class="bio">
      <h1>About London City Roast</h1>
      <h5>Tigransky ltd is an established retail company which have been trading for over a decade in the United Kingdom, supplying eastern Mediterranean deli foods, coffee and vine.</h5>
      <p> The business have grown from strength to strength sourcing for the best healthy food, coffee and vine in the Europe. Few years back the founder mr Tigran travel to Brazil in south America in search for natural coffee beans cultivated by the local farmer, on that journey he discover a brand of coffee in Sao Paolo in brazil. From there he found the magic behind a great coffee beans and has continue to search for the best coffee and good price deal for the coffee farmers and for the coffee drinkers. Since then mr Tigran has been sourcing for coffee from countries that produce good coffee like Congo, Nicaragua, Mexico, Ethiopia and Rwanda etc. London city roast is now the face of the new discovered Coffee.</p>
    </div>
    <h2>Our Gallery</h2>
    <div class="page-image">
      
        <div class="lcr-image1 rounded">
            
            <img class="rounded" src="{{image[0]}}" alt="">
        </div>
        <div class="lcr-image2 rounded">
        
            <img class="rounded" src="{{image[1]}}" alt="">
        </div>
        <div class="lcr-image3 rounded">
        
            <img class="rounded" src="{{image[2]}}" alt="">
        </div>
    </div>
    <div class="page-image2">
        <div class="lcr-image1 rounded">
            
            <img class="rounded" src="{{image[3]}}" alt="">
        </div>
        <div class="lcr-image2 rounded">
        
            <img class="rounded" src="{{image[4]}}" alt="">
        </div>
        <div class="lcr-image3 rounded">
        
            <img class="rounded" src="{{image[5]}}" alt="">
        </div>
    </div>
  </section>
</section>

