<section >
    <div class="fp-page-head">
        <img src="assets/about-us.jpg"  alt="">
        <div class="fp-page-title">
        <h1>Check Out</h1>
        </div>
  </div>
</section>
<section class="check-out-container">
    <div class="customer-info">
        
    </div>
    <div class="order-items">
        <div>
            <ul>
                <li *ngFor="let post of posts">
                    <h3>{{post.title}}</h3>
                    <p>{{post.body}}</p>
                </li>
            </ul>
        </div>
        <div>
            <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
                <input type="hidden" name="cmd" value="_s-xclick">
                <input type="hidden" name="hosted_button_id" value="9B5PWJLL573J8">
                <input type="image" src="https://www.paypalobjects.com/en_GB/i/btn/btn_cart_LG.gif" border="0" name="submit" alt="PayPal – The safer, easier way to pay online!">
                <img alt="" border="0" src="https://www.paypalobjects.com/en_GB/i/scr/pixel.gif" width="1" height="1">
            </form>

        </div>
    </div>
    
</section>