@import '../../assets/stylesheets/variables';
@import '../../assets/stylesheets/mixins';
@import '../../assets/stylesheets/transitions';

@media only screen and (min-width:250px) and (max-width:640px){
    .table, .sum-container{
        display: none;

    }
    .cart-mobile{
        position: relative;
        display: -webkit-flex;
        display: flex;
        align-content: space-between;
        margin: 0 auto;
        margin-left: 20px;
        .cart-0, .cart-1, .cart-2, .cart-3, .cart-4, .cart-5{
            flex: 1;
        }
    
        p{
            font-size: 12px;
        }
    }
    .fp-page-head{
        background-color: $primary-color;
        width: 100%;
        height: 150px;
        display: flex;
        overflow: hidden;
        // border-radius: 0px 0px 0px 200px;
        img{
            opacity: 0.2;
            position: relative;
            width: 100%;
            margin-top: 0px;
        }
        .fp-page-title{
            position: absolute;
            width: 90%;
            top: 80px;
            // right: 10px;
            h1{
                color: lightslategrey;
                font-size: 1.5rem;
                margin-right: 15px;

            }
        }
    }
    .fp-page-content{
        max-width: 700px;
        padding: 50px 0px;
        p{
            text-align: center;
            padding: 20px 0px;
        }
        h4{
            padding-top: 20px;
            
        }
    }

    .Shopping-container{
        min-height: 500px;
        // max-width: 800px;
        padding: 10px 0px 50px 0px;
        h1{margin-bottom: 20px; font-size: 28px;}
        
        
    }
    .check-out-container{
        @extend .Shopping-container;
    }
    i.remove-cart-i{
        color: red;
        &:hover{
            cursor: pointer;
        }
    }
    .total-cart{
        position: absolute;
        right: 30px;
        border-bottom: 2px solid;
        border-bottom-color: lightgrey;
        // margin-left: 150px;
        // display: -webkit-flex;
        // display: flex;
        // h5{margin-right: 10px;}
    }
    .empty-basket{
        position: absolute;
        right: 30px;
    }
    //check out button
    .check-button{
        position: absolute;
        margin: 0 auto;
        margin-top: 40px;

        .check-out{
            position: relative;
            // right: 150px;
            text-align: right;
            display: flex;
            button{
                margin: 0px 4px;
                height: 30px;
                padding: 0px 5px;
                background-color: lightslategrey;
                border: none;
                
            }
            button#btn-check{
                background-color: #f48024;
                color: $primary-color;
                padding: 0 10px;
            }
        }

    }
    .anonymous-wrapper{
        position: fixed;
        top: 0;
        width: 100%;
        height: 100vmax;
        z-index: 10000;
        background-color: rgba(0,0,0, 0.5);

        .anonymous{
            position: absolute;
            top: 25%;
            left: 50%;
            width: 100%;
            margin-left: -50% ;
            text-align: center;
            @include transition(0.2s);

            .ano-content{
                position: relative;
                background-color: #fff;
                opacity: 0.99;
                width: 95%;
                margin: 0 auto;
                button.ano-b{background-color: slategray; color: #fff;}
                i.fa-close{
                    position: absolute;
                    right: 10px;
                    top: 10px;
                    font-size: 20px;
                    &:hover{color: red; cursor: pointer;}
                }
                h2{
                    // color: black;
                }
                p{padding: 10px 0px;}
                span#span{
                        color: red;
                    }
            }
        }
    }
   
}


@media only screen and (min-width:640px){
    .cart-mobile-container, .empty-basket{
        display: none;
    }
}

