<section >
    <div class="fp-page-head">
        <img src="assets/about-us.jpg"  alt="">
        <div class="fp-page-title">
        <h1>Order Review</h1>
        </div>
  </div>
</section>
<section class="order-content container">
    <div class="row">
        <div class="col col-lg-8 order-review">
            <div class="shipping-address">
                <h1>Shipping Details</h1>
             
                <div *ngFor="let customer of customerInfo">
                    <div class="jumbotron col col-lg-6">
                        <h4>Personal Details</h4>
                        <p>First Name: {{customer.firstName}}</p>
                        <p>Last Name: {{customer.lastName}}</p>
                        <p>Email: {{customer.email}}</p>
                        <p>Telephone: {{customer.telephone}}</p>
                        <!--<p>OrderId: {{customer.customerId}}</p>-->
                    </div>
                    <div class="jumbotron col col-lg-6">
                        <h4>Shippin Address</h4>
                        <p>Address: {{customer.addressOne +' '+ customer.addressTwo}}</p>
                        <p>Post Code: {{customer.postCode}}</p>
                        <p>City: {{customer.city}}</p>
                        <p>Country: {{customer.country}}</p>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="col col-lg-4 item-order">
            <div class="order-detail-container">
                <div class="order-detail">
                    <h1>Your Order</h1>
                    <table>
                        <thead>
                            <tr>
                                <th colspan="3"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let cart of orders">
                                <td><img [src]="cart.imageUrl" style="width: 30px" alt=""></td>
                                <td><p>{{cart.qty}}x </p></td>
                                <td><p>{{cart.name}}</p></td>
                                <td><p>{{cart.qty * cart.price | currency:'GBP':true}}</p></td>
                            </tr>
                        </tbody>
                    </table>
                        <hr>
                       <div class="final-total">
                            <table>
    
                            <tbody>
                                <tr>
                                    <td>Delivery Charge:</td>
                                    <td colspan="2"></td>
                                    <td><h6>{{deliveryFee | currency: 'GBP': true}}</h6></td>
                                </tr>
                                <tr>
                                    <td>Total:</td>
                                    <td colspan="2"></td>
                                    <td><h6> {{sumCart + deliveryFee | currency: 'GBP': true}}</h6></td>
                                </tr>
                            </tbody>
                        </table>
                       </div>
                </div>
            </div>
            
        </div>
    </div>
   <div class="row">
        <div class="shipping-method col col-lg-6">
        <h4>Shipping Methods</h4>
       <table class="table">
            <thead>
                <tr>
                    <th colspan="3"></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><input (change)="onChange($event)" type="checkbox" defaultValue="checked" name="free" ></td>
                    <td>Uk Standard(3-5 working days)</td>
                    <td>Free</td>
                </tr>
                <tr>
                    <td><input (change)="onChange($event)" type="checkbox" name="express" ></td>
                    <td>UK Express (1-2 Working Days)</td>
                    <td>£2.99</td>
                </tr>
                <tr>
                    <td><input (change)="onChange($event)" type="checkbox" name="next-day"  ></td>
                    <td>UK Next Working Day (on orders placed before 12:00pm, exclusions apply - see Delivery Policy)</td>
                    <td>£4.99</td>
                </tr>
            </tbody>
        </table>
                
    </div>
    <div class="place-order-btn col col-lg-6">
        <button (click)="checkValue()" class="btn btn-success" routerLink="/payment-method" type="button">Payment method</button>
        
         <!--<button (click)="newOrder()" class="btn btn-success" type="">Finish Payment</button>-->
    </div>
   </div>
   
</section>

