<section >
    <div class="fp-page-head">
        <img class="cart-mobile-container" src="assets/shopping-trolley.jpg"  alt="Car Mobile">
        <img class="table" src="assets/large-shoppin-cart.jpg"  alt="Cart Desktop">
        <div class="fp-page-title">
        <h1>Shopping Cart</h1>
        </div>
  </div>
</section>
<section class="container Shopping-container">
  <!--<p *ngIf="user">Customer email: {{user}}</p>-->
  <div class="empty-basket" *ngIf="cartproduct.length > 0">
    <button (click)="clearCart()" class="btn btn-danger" type="button">Empty</button>
  </div>
  <h1 class="head-1">Your Basket</h1>
    <div class="empty-cart" *ngIf="cartproduct.length < 1">
      <h5>You have no item in your Basket</h5>
    </div>
    <div class="cart-mobile-container" *ngIf="cartproduct.length > 0">
      <div class="cart-mobile" *ngFor="let item of cartproduct" >
        <div class="cart-0">
          <p>{{item.qty}}</p>
        </div>
        <div class="cart-1">
          <img [src]="item.imageUrl" style="width: 30px;" alt="">
        </div>
        <div class="cart-2">
          <p>{{item.name}}</p>
        </div>
        <div class="cart-3">
          <p> @ {{item.price | currency: 'GBP': true}}</p>
        </div>
        <div class="cart-4">
          <p> {{item.qty * item.price | currency: 'GBP': true}}</p>
        </div>
        <div class="cart-5">
          <p><i (click)="removeItem(item.$key)" class="fa fa-times remove-cart-i" aria-hidden="true"></i></p>
        </div>
      </div>
      <hr>
      <div class="total-cart">
        <h5>Total:</h5>
        <span><p>{{sumCart | currency: 'GBP': true}}</p></span>
      </div>
    </div>
    <div class="container ">
      <table class="table cart-table" *ngIf="cartproduct.length > 0">
        <thead class="thead-default">
          <tr>
              <th></th>
              <th>Product</th>
              <th>Qty</th>
              <th>Size</th>
              <th>Blend Type</th>
              <th>Unit Price</th>
              <th>Total</th>
              <th></th>
              <!--<th><button (click)="clearCart()" class="btn btn-danger" type="button">Empty your basket</button></th>-->
          </tr>
        </thead>
        <tbody>
          
          <tr *ngFor="let item of cartproduct">
            <th>
              <img [src]="item.imageUrl" style="width: 30px;" alt="">
            </th>
            <td>{{item.name}}</td>
            <td>{{item.qty}}</td>
            <td>{{item.size}}</td>
            <td>{{item.type}}</td>
            <td>{{item.price | currency: 'GBP': true}}</td>
            <td>{{item.qty * item.price | currency: 'GBP': true}}</td>
            <td><i (click)="removeItem(item.$key)" class="fa fa-times remove-cart-i" aria-hidden="true"></i>
          </td>
                  </tr>
                  <tr>
                    <td colspan="5"></td>
                    <td> <h5>Total:</h5> </td>
                    <td><h4>{{sumCart | currency: 'GBP': true}}</h4></td>
                  </tr>
                </tbody>
              </table>
              <input *ngIf="cartproduct.length > 0" type="checkbox" name="" (change)="termsChange($event)"> <span *ngIf="cartproduct.length > 0" style="padding: 0; margin-bottom: 10; font-size: 12"> I agree to the terms and condition</span>
              <br>
          <div class="check-out right-nav">
            
              <button [disabled]="!accepTerms" id="btn-check" *ngIf="cartproduct.length > 0" (click)="moveTopayment()" class="btn btn-success" type="button">Proceed to Check Out</button>
              <button routerLink="/" class="btn btn-success" type="button">Continue Shopping</button>
              
          </div>
          
        </div>
    
</section>

