<section class="cb-page-container">
  <div class="cb-page-head">
    <!--<img src="assets/about-us.jpg"  alt="">-->
    <div class="cb-page-title">
      <h1>Privacy Policy</h1>
    </div>
  </div>
</section>
<section class="container page-content">
  <p>Coffee-Direct.co.uk knows that you may have concerns about privacy while shopping or surfing on the Internet. This Privacy Policy describes how we use and do not use information provided to us at Coffee-Direct.co.uk, and the steps we take to protect it.
 

Personal Information

We may use 'cookies' to making your viewing of the Coffee-Direct.co.uk experience easier, but, it really wouldn't be decent or moral for us to share information with any outside party or advertiser that would invade your right to anonymity. So, although we may provide information to our advertisers, about the general preferences and popularity of certain shopping categories within our website, information is really used for demographic purposes; we'd never share your name or email address with any outside party to ensure your integrity. The information, such as IP address for demographic purposes will be used to help Coffee-Direct.co.uk ensure that its services are best designed to meet the customers' changing needs.

Coffee-Direct.co.uk does not send unsolicited or "spam" e-mail. Coffee-Direct.co.uk uses e-mail addresses collected for a number of opted-in e-mail alerts and opted-in newsletters which are used to communicate new information, special offers and new products to our suppliers and customers. All customers are given the opportunity to unsubscribe at any time.

Coffee-Direct.co.uk does not sell or rent its e-mail lists to third parties. It is against Coffee-Direct.co.uk's policy to provide any customer information to any third party without the customer's prior permission.

Security

Coffee-Direct.co.uk takes security very seriously; when shopping with us you can rest assured that we use the highest industry-standard processes and procedures to ensure your credit card details are absolutely secure and cannot be viewed by any external parties. We will never share any confidential details with anyone else.

All transactions are encrypted using 128-bit Secure Socket Layer technology.</p>
</section>