<section class="">
    <div *ngIf="blogs && blogs.length > 5" class="pagination">
        <pagination-controls (pageChange)="page = $event" class="pg-pagination"></pagination-controls>
    </div>
  <div>
 
    <table class="table table-striped">
      <thead class="thead-inverse">
        <tr>
          <th>Image</th>
          <th>Title</th>
          <th>Snippet</th>
          <th>Post Date</th>
        
          <th><i style="cursor:pointer; font-size:18px;" routerLink="/dashboard/newblog" class="fa fa-plus" aria-hidden="true"></i></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let blog of blogs | paginate: {itemsPerPage: pageSize, currentPage: page}">
          <td>
            <img style="width:80px;" [src]="blog.data.blogImage" alt="">
          </td>
          <td>{{blog.data.title}}</td>
          <td>{{blog.data.snippet}}</td>
          <td>{{blog.data.postdate | date}}</td>
         <td> <i (click)="removeBlog(blog)" class="fa fa-times" aria-hidden="true"></i> </td>
        </tr>

      </tbody>
    </table>
  </div>
</section>