<section class="container" id="formContainer">
    <div class="formWrapper">
        <form novalidate [formGroup]="blogForm" (ngSubmit)="createBlog(blogForm.value)">
            <div class="">
                
                <div class="imageup jumbotron">
                    <!-- <div *ngIf="!progress" class="progress">
                        <i class="fa fa-circle-o-notch fa-spin" aria-hidden="true"></i>
                        <div class="progress-bar"  style="width: 25%;" ><h3 style="color:lightslategrey; opacity:0.5">BLOG IMAGE</h3></div>
                    </div> -->
                    <div *ngIf="progress" class="progress">
                        <i class="fa fa-circle-o-notch fa-spin" aria-hidden="true"></i>
                        <div class="progress-bar"  style="width: 25%;" >{{progress}}% done..</div>
                    </div>
                    <img [src]="returnImage"  alt="">
                    
                    <input hidden class="form-control" required type="text" formControlName="blogImage">
                </div>
                <div class="btn btn-primary inputbtn">
                    <p>Select Image</p>
                    <input (change)="onChange($event)" class="hidden" type="file">
                </div>
                
              
            </div>
      

            <div class="input-field">
                <label for="title">Blog Title</label>
                <input id="title" formControlName="title" type="text" required>
            </div>
            <div class="input-field">
                <label for="snipet">Snippet</label>
                <input id="snipet" formControlName="snippet" type="text" required>
            </div>
                
            <div class="input-field">
                <textarea id="body" formControlName="body"  class="materialize-textarea"></textarea>
                <label for="body">Body</label>
            </div>
            
            <!-- <div class="container formBody">
            
                <div class="form-group row " formArrayName="body">
                    <div class="singleP" *ngFor="let paragraph of blogForm.control.body.control; let i=index">
    
                        <div [formGroupName]="i">
                            
                            <span *ngIf="blogForm.control.body.control.length > 1">
                                <i  style="cursor:pointer" (click)="removeParagraph(i)" class="fa fa-times remove-cart-i" aria-hidden="true"></i>
                            </span>
                            <div class="col-lg-12">
                            
                                <div style="margin: 5px 0px;" class="col-lg-12">
                                    <input class="form-control" type="text" placeholder="Optional header" formControlName="header">
                                </div>
                              
                            </div>
                            
                            <div class="col-lg-12">
                         
                                <div class="col-lg-12">
                                    <textarea rows="2"class="form-control" type="text" placeholder="This is a paragraph" formControlName="paragraph"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div> -->

            <!-- <div class="addP">
                <span><i (click)="addParagraph()" style="cursor:pointer; font-size:18px;" class="fa fa-plus" aria-hidden="true"></i></span>
            </div> -->
            <div class="form-group submitBtn" >
                <button class="btn btn-primary" type="submit">Submit</button>
                <button routerLink="/dashboard/blogs" class="btn btn-primary" >Cancel</button>
            </div>
        </form>
    </div>
  
</section>
