<section >
    <div class="fp-page-head">
        <img src="assets/coffee-beans.png"  alt="">
        <div class="fp-page-title">
        <h1>{{dproduct.name}}</h1>
        </div>
  </div>
</section>
<div *ngIf="positiveNum" class="alert alert-danger big-screen" role="alert">
    please enter a valid number in the "Qty" box! to proceed.
</div>
<div class="user-login-msg" *ngIf="islogin">
    <div class="alert alert-danger alert-p" role="alert">
        <strong>Oh no!</strong> please login to add this product to your basket. <span><button routerLink="/login" class="btn btn-primary">please login here</button></span>
    </div>
</div>

<section class="container content-container">
    <div *ngIf="positiveNum" class="alert alert-danger small-screen" role="alert">
        please enter a valid number in the "Qty" box! to proceed.
    </div>
    <button (click)="back()" class="btn btn-default small-screen" type="button"> <<back </button>
    <div *ngIf="!dproduct.name" class="progress container load-item">
        <div class="progress-loading">
            <strong> 
                <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
            </strong>
        </div>
    </div>
    <div *ngIf="dproduct.name" class="row product-disply">
        <div class="col col-xs-12 col-sm-12 col-md-6 col-lg-6 product-img">
            <img [src]="dproduct.imageUrl" alt="product image">
            <!--<button (click)="back()" class="btn btn-secondary big-screen" type="button"> <<back </button>-->
        </div>
        <div class="col col-xs-12 col-sm-12 col-md-6 col-lg-6 product-details jumbotron">
            <h1>{{dproduct.name}}</h1>
            <h5><span>Price: </span>{{dproduct.price | currency: 'GBP' :true}}</h5>
            <div class="cart-select">
                <span> <strong>Qty: </strong></span>
                <input #val type="number" class="form-control s-input" name="count" value="1" pattern="[0-9]+" >
                
            </div>

            <div class="">
                <div class="pick-type">
                    <label for="size"><strong>Size:</strong> </label>
                    <select class="form-control custom-select" #size>
                        <option value="500gm" selected>{{dproduct.size}}</option>
                        <!--<option value="250gm">250gm</option>
                        <option value="1kg">1kg</option>-->
                    </select>
                    <!--<span>{{dproduct.size}}</span>-->
            
                </div>
                <div class="pick-type">
                    <span><label for="blend"> <strong>Blend: </strong> </label></span>
                    <select class="form-control custom-select" #blend>
                        <option value="Expresso" selected>Espresso</option>
                        <option value="Coffee beans">Coffee Beans</option>
                        <option value="Paper filter">Paper Filter</option>
                        <option value="French filter">French Filter</option>
                        <option value="Metal filter">Metal Filter</option>
                        <option value="Turkish fine">Turkish Fine</option>
                    </select>
                    <!--<span>{{dproduct.blend}}</span>-->
                </div>
                
                <div class="pick-type">
                    <!--<span><label for="roast"><strong>Roast:</strong> </label></span>
                    <select class="form-control custom-select" #roast>
                        <option value="Light roast" selected>Light Roast</option>
                        <option value="Medium roast">Medium Roast</option>
                        <option value="Dark roast">Dark Roast</option>
                    </select>-->
                    <!--<span>{{dproduct.roast}}</span>-->
            
                </div>
            </div>
            <br>
            <div class="big-screen">
                 <h6>Product Descriptions:</h6>
                <p>{{dproduct.description}}</p>
            </div>
            <div class="add-to">
                <h6> <button (click)="addtoCart( val.value, blend.value )" class="btn btn-success" type="button"><i class="fa fa-shopping-basket" aria-hidden="true"></i> Add to Basket</button></h6>
            </div>
        </div>
    </div>
     <div class="description-small small-screen" *ngIf="dproduct.name">
            <h6>Product Descriptions:</h6>
            <p>{{dproduct.description}}</p>
        </div>
    <!--<div class="other-product">
        <div *ngFor="let product of products" class="other-item">
            <img (click)="viewOthers(product)" [src]="product.imageUrl" style="width: 100px" alt="product image">
            <div class="other-item-details">
                <h6>{{product.name}}</h6>
                <p>{{product.price | currency: 'GBP' :true}}</p>
            </div>
        </div>
    </div>-->
</section>