<section >
    <div class="fp-page-head">
        <img src="assets/about-us.jpg"  alt="">
        <div class="fp-page-title">
        <h1>Shopping Cart</h1>
        </div>
  </div>
</section>
<section class="container Shopping-container">
    <table class="table">
  <thead class="thead">
    <tr>
        <th>Your Basket</th>
        <th colspan="3"></th>
      
   
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Larry</td>
      <td>the Bird</td>
      <td>@twitter</td>
    </tr>
  </tbody>
</table>
<div class="check-out right-nav">
    <button class="btn btn-primary" type="">Check Out</button>
</div>

    
</section>