<app-header></app-header>

<section class=" about-container-cover">
  <div class="about-container" >
    <div class="about-text container">
      <h1>Welcome</h1>
      <p>Welcome to London City Roast. We roast over 100 wonderful coffees from around the world, including rare and exclusive varieties such as Kopi Luwak and Blue Mountain Jamaica, and deliver them directly to your door. We roast to order, so your coffee will always arrive in the freshest condition possible, and offer a range of grind options as well as whole beans. We also offer a sumptuous range of teas, as well as our ever-popular coffee gift hampers.</p>
    </div>
    <div class="row about-images">
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
        <a>
          <img (click)="selectImg(image[0])" class="rounded" src="{{image[0]}}"  alt="">
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
        <a >
          <img (click)="selectImg(image[2])" class="rounded" src="{{image[2]}}"  alt="">
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
        <a>
          <img (click)="selectImg(image[1])" class="rounded" src="{{image[1]}}"  alt="">
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
        <a>
          <img (click)="selectImg(image[3])" class="rounded" src="{{image[3]}}"  alt="">
        </a>
      </div>
    </div>
    <div class="tagline "> 
      <p> <i>we roast the best coffee in London</i> </p>
    </div>
  </div>
  <br><br><br>
</section>
<section class="front-shop clearfix">
  <img class="img-bg" src="assets/cityroast.png" alt="">

  <div class="items">
    <div  class="shop-item rounded-top" *ngFor="let item of products">
      <div class="item-img">
        <img (click)="viewProduct(item)" class="rounded-top" [src]="item.imageUrl" style="width: 150px" alt="product photo">
      </div>
      <h2>{{item.name}}</h2>
      <h6>{{item.price | currency: 'GBP' :true}}</h6>
      <p>
        <a><button (click)="addToCart(item)" class="btn btn-default" type="">add to cart</button></a>
      </p>
    </div>
  </div>
</section>
<div class="alert alert-danger added-item" *ngIf="isLogin">
        <strong>OOps!! Please login to add items to your basket</strong>
        <span><button routerLink="/login" class="btn btn-danger">login here</button></span>
  </div>
 <div class="alert alert-success added-item" *ngIf="itemAdd">
        <strong>Well done! you just added product to your basket</strong>
        <span><button routerLink="/cart" class="btn btn-success">View your basket</button></span>
  </div>
<div [class.hide]="isHide" class="img-container">
  <div class="img-display">
    <div class="close1">
      <i (click)="closeImage()" class="fa fa-times" aria-hidden="true"></i>
    </div>
    <div class="main-image">
      <img class="rounded" src="{{displayImg}}" style="width:700px"  alt="">
    </div>
    <div class="close2">
      <i (click)="closeImage()" class="fa fa-times" aria-hidden="true"></i>
    </div>
  </div>
</div>