//===Product View section===//

@media only screen and (min-width:250px) and (max-width: 640px){
    .big-screen{
        display: none;
    }
    .description-small{
        padding: 0px 10px 20px 10px;
        text-align: center;
        h6{
            font-size: 22px;
            letter-spacing: 2px;
            font-family: 'Lobster', cursive;
            margin-bottom: 10px;
        }
        
    }

    
    .content-container{
        button.small-screen{color:lightslategray;}
        min-height: 500px;
        margin-bottom: 50px;
        .product-disply{
            width: 100%;
            margin: 0 auto;
            margin-top: 10px;

            .product-img{
                margin-top: 10px;
            }
            .product-details{
                h1{
                    margin: 0px;
                    padding: 0px;
                    color:slategray;
                    margin-bottom: 5px;
                    text-align: center;
                    font-size: 26px;
                    }
                h5{
                    margin: 0px;
                    padding: 0px;
                    color:#f48024;
                    margin-bottom: 10px;
                    text-align: center;
                    }
                .add-to{ 
                    text-align: center;
                    margin-bottom: 10px;
                }
               
            }
        }
    }
    .other-product{
        max-width: 700px;
        margin: 0 auto;
        display: flex;
        display: -webkit-box;   /* OLD: Safari,  iOS, Android browser, older WebKit browsers.  */
        display: -moz-box;      /* OLD: Firefox (buggy) */
        display: -ms-flexbox;   /* MID: IE 10 */
        display: -webkit-flex;  /* NEW, Chrome 21?28, Safari 6.1+ */
        .other-item{
            height: 200px;
            flex: 1;
            .other-item-details{
                width: 100px;
                text-align: center;
                h6{
                    font-size: 12px;
                    padding: 0px;
                    margin: 0px;
                }
                p{
                    @extend h6;
                    font-size: 10px;
                    
                }
            }
        }
    }
}

@media only screen and (min-width: 640px){
     .small-screen{
        display: none;
    }
}