@import '../../assets/stylesheets/variables';
.active{
    color: red;
}
.db-page-container{
    .db-page-head{
        background-color: $primary-color;
        width: 100%;
        height: 150px;
        display: flex;
        overflow: hidden;
        border-radius: 0px 0px 0px 0px;
        img{
            opacity: 0.2;
            position: fixed;
            margin-bottom: 0px;
            margin-top: -280px;
            width: 100%;
            min-width: 1200px;
        }
        .db-page-title{
            position: absolute;
            top: 110px;
            right: 50px;
            h1{
                color: lightslategrey;
                font-size: 1.5rem;
            }
        }
    }
}

.dashboard-container{
    // position: relative;
    margin: 0px;
    padding: 0px;
    height: 50px;
    background-color: lightslategrey !important;
    .dashboard{
        text-align: center;
        .navbar{
            background-color: transparent !important;
            height: 50px;
            position: relative;
            padding: .0rem 1rem;
            text-align: center;
            .dash-list{
                display: flex;
                margin: 0 auto;
                padding: 10px 0px;
                .list-item{
                    margin: 0 20px;
                    color: lightgrey;
                    .nav-link{
                        color: lightgrey;
                    }
                }
            }
        }
    }
}
.out-let{
    min-height: 500px;
}