<section class="db-page-container">
  <div class="db-page-head">
    <!--<img src="assets/Coffee-Producers.jpeg"  alt="">-->
    <div class="db-page-title">
      <h1 (click)="showDashBoard()">Admin<span style="color: #f48024">DashBoard</span><i class="material-icons">expand_more</i></h1>
    </div>
  </div>
</section>
<section class="dashboard-container">
  <div class="dashboard container">
    <div class="navbar navbar-toggleable-md navbar-light bg-faded">
          <ul class="dash-list navbar-nav mr-auto container">
              
              <li class="list-item">
                <a routerLink="/dashboard/products-list" class="nav-link" routerLinkActive="active">Products</a>
                </li>
              <li  class="list-item">
                <a routerLink="/dashboard/customers" class="nav-link" routerLinkActive="active">Customers</a>
              </li>
              <li  class="list-item">
                <a routerLink="/dashboard/orders-list" class="nav-link" routerLinkActive="active" >Orders</a>
              </li>
              <li  class="list-item">
                  <a routerLink="/dashboard/transactions" class="nav-link" routerLinkActive="active" >Transactions</a>
                </li>
               <li  class="list-item">
                <a routerLink="/dashboard/contacts" class="nav-link" routerLinkActive="active" >Contacts</a>
              </li>
              <li  class="list-item">
                <a style="color:#f48024" routerLink="/dashboard/blogs" class="nav-link" routerLinkActive="active" >Blogs</a>
              </li>
              <!--<li  class="list-item">
                <a routerLink="/dashboard/items" class="nav-link" routerLinkActive="active" >Items</a>
              </li>-->
          </ul>
        </div>
   </div>
</section>

<div class="out-let">
    <div *ngIf="dashBoard" class="dash-board">
      <div class="head">
          <h1>Product Line</h1>
          <i (click)="showDashBoard()" class="material-icons">close</i>
      </div>
        
        <table class="bordered">
            <thead>
              <tr>
                  <th>Product Name</th>
                  <th>EAN No.</th>
                  <th>SKU</th>
                  <th></th>
              </tr>
            </thead>
    
            <tbody>
              <tr *ngFor="let line of prodLine | async">
                <td>{{line.productName}}</td>
                <td>{{line.eanNo}}</td>
                <td>{{line.sku}}</td>
                <td><i class="material-icons">delete</i></td>
              </tr>
            </tbody>
          </table>
          <small *ngIf="errMsg">{{errMsg}}</small>
          <form novalidate [formGroup]="lineForm" (ngSubmit)="postLineProduct(lineForm.value)">
              <div class="row">
                <div class="input-field col s3">
                  <input id="first_name" formControlName="productName" type="text" class="validate">
                  <label for="first_name">Product Name</label>
                </div>
                <div class="input-field col s3">
                  <input id="last_name" formControlName="eanNo" type="text" class="validate">
                  <label for="last_name">EAN No.</label>
                </div>
                <div class="input-field col s3">
                    <input id="last_name" formControlName="sku" type="text" class="validate">
                    <label for="last_name">SKU</label>
                  </div>
                  <div class="input-field col s3">
                   <button class="btn" type="submit">Add Product Line</button>
                  </div>
              </div>
          </form>

          <a class="btn" (click)="numberGenerator()">Gen no.</a><span>{{randNumber}}</span>
    </div>
  <router-outlet></router-outlet>
</div>
