@import '../../../assets/stylesheets/variables';

.fp-page-head{
    background-color: $primary-color;
    width: 100%;
    height: 150px;
    display: flex;
    overflow: hidden;
    // border-radius: 0px 0px 0px 200px;
    img{
        opacity: 0.2;
        position: relative;
        width: 100%;
        margin-top: 0px;
        min-height: 150px;
        
    }
    .fp-page-title{
        position: absolute;
        top: 100px;
        right: 50px;
        h1{
            color: lightslategrey;
            font-size: 1.5rem;
            margin-right: 15px;

        }
    }
}
.fp-page-content{
    max-width: 700px;
    padding: 50px 0px;
    p{
        text-align: center;
        padding: 20px 0px;
    }
    h4{
        padding-top: 20px;
        
    }
}

.Shopping-container{
    min-height: 700px;
    // max-width: 800px;
    padding: 50px;
    .check-out{
        // position: relative;
        // right: 150px;
        text-align: right;
        display: flex;
        button{
            margin: 0px 4px;
            height: 30px;
            padding: 0px 5px;
            background-color: lightslategrey;
            border: none;
            
        }
        button#btn-check{
            background-color: #f48024;
            color: $primary-color;
            padding: 0 10px;
        }
    }
}
.check-out-container{
    @extend .Shopping-container;
}
h1.head-1{
    font-size: 28px;
    margin-left: 20px;
}
.cart-table{
    border: 1px solid;
    border-color: lightgray;

    tr th{
        color: lightslategrey;
    }
    td i:hover{
        color: red;
        cursor: pointer;
    }
}
