<div class="home-header">
    <div class="header-content">
        <div class="carousel carousel-slider center" data-indicators="true">
            <div class="carousel-fixed-item center">
              <a routerLink="/signup" class="btn waves-effect white grey-text darken-text-2">Register</a>
            </div>
            <div  class="carousel-item red white-text" href="#one!">
                <img src="assets/pexels4.jpeg" alt="">
                <div class="header-cover">
                    <h2>Fresh Coffee</h2>
                    <p class="white-text">Freshly roasted coffee in a small 15kg roaster</p>
                    <p class="white-text">100% Organic with a unique flavour</p>
                </div>
              
            </div>
            <div  class="carousel-item amber white-text" href="#two!">
                <img src="assets/pexels3.jpeg" alt="">
                <div class="header-cover">
                    <h2>Guarantee Supply</h2>
                    <p class="white-text">We supply over 50 coffee shops in London</p>
                </div>
            </div>
            <div  class="carousel-item green white-text" href="#three!">
                <img src="assets/pexels2.jpeg" alt="">
                <div class="header-cover">
                    <h2>Coffee Accessories</h2>
                    <p class="white-text">We supply coffee machines and accessories around UK</p>
                </div>
            </div>
            <!-- <div  class="carousel-item blue white-text" href="#four!">
                <img src="assets/pexels3.jpeg" alt="">
                <div class="header-cover">
                    <h2>First Panel</h2>
                    <p class="white-text">This is your first panel</p>
                </div>
            </div> -->
        </div>
    </div>
</div>
