<section class="main-container">

  <div>
      <div *ngIf="customers && customers.length > 5" class="pagination">
          <pagination-controls (pageChange)="page = $event" class="pg-pagination"></pagination-controls>
      </div>
 
    <table class="centered">
      <thead >
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Sex</th>
          <th>Email</th>
          <th>Telephone</th>
          <th>Address</th>
          <th>Postcode</th>
          <th>City</th>
          <th>Country</th>
          <th>Date</th>
          <th *ngIf="togg" (click)="getAll()">All</th>
          <th *ngIf="!togg" (click)="getFew()">Few</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let customer of customers | paginate: { itemsPerPage: pageSize, currentPage: page }">
          <td>{{customer.id}}</td>
          <td>{{customer.firstName+" "+customer.lastName}}</td>
          <td>{{customer.gender}}</td>
          <td>{{customer.email}}</td>
          <td>{{customer.telephone}}</td>
          <td>{{customer.addressOne+" "+customer.addressTwo}}</td>
          <td>{{customer.postCode}}</td>
          <td>{{customer.city}}</td>
          <td>{{customer.country}}</td>
          <td>{{customer.createdAt | date}}</td>
          <td><i (click)="remoteCustomer(customer.key)" style="cursor:pointer"  class="material-icons">clear</i></td>
        </tr>

      </tbody>
    </table>
    <!-- <div class="pagination">
        <pagination-controls (pageChange)="page = $event" class="pg-pagination"></pagination-controls>
    </div> -->
  </div>
</section>
<div *ngIf="customers && customers.length < 1" class="container load-item">
      <div class="progress-loading" >
        <div class="preloader-wrapper big active">
          <div class="spinner-layer spinner-blue-only">
            <div class="circle-clipper left">
              <div class="circle"></div>
            </div><div class="gap-patch">
              <div class="circle"></div>
            </div><div class="circle-clipper right">
              <div class="circle"></div>
            </div>
          </div>
        </div>
      </div>
  </div>