<section>

  <div>
 
    <table class="table table-striped">
      <thead class="thead-inverse">
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Sex</th>
          <th>Email</th>
          <th>Telephone</th>
          <th>Address</th>
          <th>Postcode</th>
          <th>City</th>
          <th>Country</th>
          <th>Created</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let customer of customers">
          <td>{{customer.id}}</td>
          <td>{{customer.firstName+" "+customer.lastName}}</td>
          <td>{{customer.gender}}</td>
          <td>{{customer.email}}</td>
          <td>{{customer.telephone}}</td>
          <td>{{customer.addressOne+" "+customer.addressTwo}}</td>
          <td>{{customer.postCode}}</td>
          <td>{{customer.city}}</td>
          <td>{{customer.country}}</td>
          <td>{{customer.created_at | date}}</td>
          <td><i (click)="remoteCustomer(customer.$key)" style="cursor:pointer"  class="fa fa-times remove-cart-i" aria-hidden="true"></i></td>
        </tr>

      </tbody>
    </table>
  </div>
</section>
<div *ngIf="customers.length < 1" class="progress container load-item">
      <div class="progress-loading" >
          <strong>
              <h3><i class="fa fa-spinner fa-spin fa-3x fa-fw"></i></h3>
          </strong>
      </div>
  </div>