table{
    tbody td{
        font-size: 12px;
    }
}
.pagination{
    position: relative;
    width: 300px;
    left: 50%;
    margin-left: -150px;
    margin-top: 10px;
    pagination-controls{
        width: 100%;
    }
}

.load-item{
    margin: 0 auto;
    text-align: center;
    margin-top: 150px;
    .progress-loading{
        text-align: center;
    }
}